extends header
		
block content

		main
			.row
				.col.s12.iap-desc
					h4 ¿Qué hacemos?
					h5 #{iap[0].descripcion}
					br
					h6 Tags
					.chip
						span #{iap[0].rubro}
			
			.row
				.col.s12.m4
					.card-panel.teal
						i.white-text.zmdi.zmdi-phone-ring.zmdi-hc-2x 
						span.white-text #{iap[0].tel}				
				.col.s12.m4
					.card-panel.teal
						i.white-text.zmdi.zmdi-home.zmdi-hc-2x
						span.white-text #{iap[0].direccion}
				.col.s12.m4
					.card-panel.teal
						i.white-text.zmdi.zmdi-window-restore.zmdi-hc-2x
						a.white-text(href="#{iap[0].pagina}") #{iap[0].nombre}
			
			.row

				each producto in iap[0].productos
					.col.s6.m3
						.card
							.card-image
								img(src="#{producto.imagen + '/' + producto.id % 9 }")
								span.card-title #{producto.nombre}           
							.card-content
								table.highlight
									tbody
										tr
											td
												i(class="zmdi zmdi-info")
											td
												span #{producto.descripcion}
										tr
											td
												i(class="zmdi zmdi-money")
											td
												span #{producto.precio}
										tr
											td 
												i(class="zmdi zmdi-accounts")
											td
												span #{iap[0].nombre}
											
							.card-action
								a(href='#') Ver más
								

		footer.container
			.row
				div.col.l6.s6
					p © 2015 Comercio Social. Todos los derechos reservados
				div.col.l3.s3
					p Términos y Condiciones
				div.col.l3.s3
					p Prensa

		script(type="text/javascript" src="/js/dependencies/jquery.min.js")
		script(type="text/javascript" src="/js/dependencies/materialize.min.js")
		script(type="text/javascript" src="/js/dashboard.js")
